<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.commonsl.dao.MenuDao">

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.commonsl.model.Menu">
		INSERT INTO MENU (
			ID, ICON, NAME, PARET_ID, TYPE, URL
		) VALUES (
			#{id}, #{icon}, #{name}, #{paretId}, #{type}, #{url}
		)
	</insert>

	<delete id="delete" parameterType="com.commonsl.model.Menu">
		DELETE FROM MENU <include refid="CriteriaSQL" />
	</delete>

	<update id="update" parameterType="com.commonsl.model.Menu">
		UPDATE MENU <include refid="SetSQL" /> <include refid="CriteriaSQL" />
	</update>
  
	<select id="selectCount" parameterType="com.commonsl.model.Menu" resultType="_long">
		SELECT COUNT(1) FROM MENU <include refid="CriteriaSQL" />
	</select>

	<select id="selectList" parameterType="com.commonsl.model.Menu" resultMap="MenuResultMap">
		SELECT * FROM MENU <include refid="CriteriaSQL" /> <include refid="OrderbySQL" /> <include refid="LimitSQL" />
	</select>

	<resultMap id="MenuResultMap" type="com.commonsl.model.Menu">
		<id property="id" column="ID" />
		<result property="icon" column="ICON" />
		<result property="name" column="NAME" />
		<result property="paretId" column="PARET_ID" />
		<result property="type" column="TYPE" />
		<result property="url" column="URL" />
	</resultMap>

	<sql id="SetSQL">
		<set>
			<if test="entity.icon != null">ICON = #{entity.icon},</if>
			<if test="entity.name != null">NAME = #{entity.name},</if>
			<if test="entity.paretId != null">PARET_ID = #{entity.paretId},</if>
			<if test="entity.type != null">TYPE = #{entity.type},</if>
			<if test="entity.url != null">URL = #{entity.url},</if>
		</set>
	</sql>

	<sql id="CriteriaSQL">
		<where>
			<if test="criteria != null and criteria.notEmpty">
				<foreach collection="criteria.criterions" item="criterion">
					<choose>
						<when test="criterion.noValue">
							and ${criterion.field} ${criterion.condition}
						</when>
						<when test="criterion.singleValue">
							and ${criterion.field} ${criterion.condition} #{criterion.value}
						</when>
						<when test="criterion.betweenValue">
							and ${criterion.field} ${criterion.condition} #{criterion.value} and #{criterion.value2}
						</when>
						<when test="criterion.listValue">
							and ${criterion.field} ${criterion.condition}
							<foreach collection="criterion.value" item="item" open="(" separator="," close=")">
								#{item}
							</foreach>
						</when>
					</choose>
				</foreach>
			</if>
		</where>
	</sql>

	<sql id="OrderbySQL">
		<if test="criteria != null and criteria.orderly">
			ORDER BY 
			<foreach collection="criteria.orderbies" item="orderby" separator=",">
				${orderby.field} ${orderby.value}
			</foreach>
		</if>
	</sql>

	<sql id="LimitSQL">
		<if test="criteria != null and criteria.pagination">
			LIMIT #{criteria.limit.value}, #{criteria.limit.value2}
		</if>
	</sql>

</mapper>